<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BallLoadingHud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>064F54E11D055B7E00DB7111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064F54FA1D055B7E00DB7111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064F55051D055B7E00DB7111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
